In this block of code we are transposing dataset based upon month/year. we are transposing reading type, bill duration, current charges, and consumption in regards of date and for each CA

In [7]:
# Import python libraries
import pandas as pd
import numpy as np
import sys
tr = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190712Extract_Bill_June.csv")

In [8]:
# Drop all the column having all NA values
tr = tr.dropna(axis=1, how='all')

In [9]:
tr.head()

,CA,Bill Date,Billing Period,Reading Type,Bill Duration,Current Charges,Consumption
0,2.100057e+11,20180507.0,2018/05,Bacaan Sebenar,32 days,52.42,228.0
1,2.100057e+11,20180605.0,2018/06,Bacaan Sebenar,29 days,43.60,200.0
2,2.100057e+11,20180705.0,2018/07,Bacaan Sebenar,30 days,37.06,170.0
3,2.100057e+11,20180805.0,2018/08,Bacaan Sebenar,31 days,1.32,22.0
4,2.100057e+11,20180905.0,2018/09,Bacaan Anggaran,31 days,39.46,181.0

In Below section of script, we are creating subset of dataframe based on 'Billing Period', 'Reading Type', 'Bill Duration',
'Current Charges' and  'Consumption' corresponding to CA and Bill date. After subseting we are transposing each of the smaller dataframe.
In end merge all the smaller dataframes and return output dataframe.

In [10]:
tr.columns

Index(['CA', 'Bill Date', 'Billing Period', 'Reading Type', 'Bill Duration',
       'Current Charges', 'Consumption'],
      dtype='object')

In [11]:
tr_bill_date = tr[['CA', 'Billing Period', 'Bill Date']]

In [12]:
tr_bill_date['Bill Date'] = pd.to_datetime(tr_bill_date['Bill Date'],format='%Y%m%d')

C:\MPS\conda_install\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
tr_bill_date.head()

             CA Billing Period  Bill Date
0  2.100057e+11        2018/05 2018-05-07
1  2.100057e+11        2018/06 2018-06-05
2  2.100057e+11        2018/07 2018-07-05
3  2.100057e+11        2018/08 2018-08-05
4  2.100057e+11        2018/09 2018-09-05

In [14]:
tr_bill_date['Bill Date'] = tr_bill_date['Bill Date'].apply(lambda x: x.strftime('%d%m%Y') if pd.notnull(x) else '')

C:\MPS\conda_install\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
tr_consumption = tr[['CA', 'Billing Period', 'Consumption']]

In [16]:
tr_reading = tr[['CA', 'Billing Period', 'Reading Type']]

In [17]:
tr_bill_duration = tr[['CA', 'Billing Period', 'Bill Duration']]

In [18]:
tr_current_charges = tr[['CA', 'Billing Period', 'Current Charges']]

In [20]:
df_bill_date = tr_bill_date.pivot_table(index='CA', 
                    columns='Billing Period', 
                    values='Bill Date',aggfunc='first')

In [21]:
df_consumption = tr_consumption.pivot_table(index='CA', 
                    columns='Billing Period', 
                    values='Consumption',aggfunc='first')

In [22]:
df_bill_duration = tr_bill_duration.pivot_table(index='CA', 
                    columns='Billing Period', 
                    values='Bill Duration',aggfunc='first')

In [23]:
df_reading = tr_reading.pivot_table(index='CA', columns='Billing Period', values='Reading Type', aggfunc='first')

In [25]:
df_current_charges = tr_current_charges.pivot_table(index='CA', columns='Billing Period', values='Current Charges', aggfunc='first')

In [30]:
df_consumption.columns

Index(['2018/05', '2018/06', '2018/07', '2018/08', '2018/09', '2018/10',
       '2018/11', '2018/12', '2019/01', '2019/02', '2019/03', '2019/04',
       '2019/05', '2019/06'],
      dtype='object', name='Billing Period')

In [31]:
df_reading = df_reading.reset_index().rename(columns={df_reading.index.name:'CA_r'})

In [32]:
df_bill_date = df_bill_date.reset_index().rename(columns={df_bill_date.index.name:'CA'})

In [33]:
df_bill_duration = df_bill_duration.reset_index().rename(columns={df_bill_duration.index.name:'CA_b'})

In [34]:
df_consumption = df_consumption.reset_index().rename(columns={df_consumption.index.name:'CA_c'})

In [35]:
df_current_charges = df_current_charges.reset_index().rename(columns={df_current_charges.index.name:'CA_cc'})

In [36]:
df_current_charges.head()

Billing Period,CA_cc,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,2018/11,2018/12,2019/01,2019/02,2019/03,2019/04,2019/05,2019/06
0,2.100057e+11,52.42,43.60,37.06,1.32,39.46,39.73,39.17,34.88,2935.92,6.80,NaN,NaN,NaN,NaN
1,2.100082e+11,5156.66,1626.06,2672.68,3080.22,46256.81,6050.13,2405.23,4325.43,1615.06,4789.13,5090.15,9746.21,6364.25,7108.25
2,2.100194e+11,29231.05,23873.02,30389.61,30940.28,28628.46,28076.19,33105.72,31852.72,5476.09,9155.12,1573.28,5147.09,3865.45,1049.09
3,2.100260e+11,52795.22,48796.01,52702.30,54051.75,51220.24,55572.43,53022.30,53589.27,53608.67,48241.20,49241.30,44702.08,46295.29,43953.23
4,2.100270e+11,42.62,41.12,45.79,50.59,45.32,45.07,50.93,63.04,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_current_charges.columns

Index(['CA_cc', '2018/05', '2018/06', '2018/07', '2018/08', '2018/09',
       '2018/10', '2018/11', '2018/12', '2019/01', '2019/02', '2019/03',
       '2019/04', '2019/05', '2019/06'],
      dtype='object', name='Billing Period')

In [39]:
df_reading.columns = ['CA_R','Reading_Type_May_18', 'Reading_Type_June_18', 'Reading_Type_July_18', 'Reading_Type_August_18', 'Reading_Type_September_18', 'Reading_Type_October_18',
       'Reading_Type_November_18', 'Reading_Type_December_18', 'Reading_Type_January_19', 'Reading_Type_February_19', 'Reading_Type_March_19', 'Reading_Type_April_19',
       'Reading_Type_May_19','Reading_Type_June_19']

In [40]:
df_bill_duration.columns = ['CA_b', 'bill_duration_May_18','bill_duration_June_18', 'bill_duration_July_18', 'bill_duration_August_18', 'bill_duration_September_18', 'bill_duration_October_18',
       'bill_duration_November_18', 'bill_duration_December_18', 'bill_duration_January_19', 'bill_duration_February_19', 'bill_duration_March_19', 'bill_duration_April_19',
       'bill_duration_May_19','bill_duration_June_19']

In [41]:
df_consumption.columns = ['CA_c', 'Consumption_May_18','Consumption_June_18', 'Consumption_July_18', 'Consumption_August_18', 'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18', 'Consumption_January_19', 'Consumption_February_19', 'Consumption_March_19', 'Consumption_April_19',
       'Consumption_May_19','Consumption_June_19']

In [42]:
df_bill_date.columns = ['CA', 'bill_date_May_18', 'bill_date_June_18', 'bill_date_July_18', 'bill_date_August_18', 'bill_date_September_18', 'bill_date_October_18',
       'bill_date_November_18', 'bill_date_December_18', 'bill_date_January_19', 'bill_date_February_19', 'bill_date_March_19', 'bill_date_April_19',
       'bill_date_May_19', 'bill_date_June_19']

In [43]:
df_current_charges.columns = ['CA_cc', 'current_charges_May_18', 'current_charges_June_18', 'current_charges_July_18', 'current_charges_August_18', 'current_charges_September_18', 'current_charges_October_18',
       'current_charges_November_18', 'current_charges_December_18', 'current_charges_January_19', 'current_charges_February_19', 'current_charges_March_19', 'current_charges_April_19',
       'current_charges_May_19', 'current_charges_June_19']

In [44]:
df_out = pd.concat([df_consumption,df_bill_duration,df_reading,df_bill_date,df_current_charges], axis=1)

In [45]:
df_reading.shape

(104, 15)

In [46]:
df_bill_duration.shape

(104, 15)

In [47]:
df_consumption.shape

(104, 15)

In [48]:
df_bill_date.shape

(104, 15)

In [49]:
df_current_charges.shape

(104, 15)

In [51]:
df_out.columns

Index(['CA_c', 'Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19',
       'Consumption_June_19', 'CA_b', 'bill_duration_May_18',
       'bill_duration_June_18', 'bill_duration_July_18',
       'bill_duration_August_18', 'bill_duration_September_18',
       'bill_duration_October_18', 'bill_duration_November_18',
       'bill_duration_December_18', 'bill_duration_January_19',
       'bill_duration_February_19', 'bill_duration_March_19',
       'bill_duration_April_19', 'bill_duration_May_19',
       'bill_duration_June_19', 'CA_R', 'Reading_Type_May_18',
       'Reading_Type_June_18', 'Reading_Type_July_18',
       'Reading_Type_August_18', 'Reading_Type_September_18',
       'Reading_Type_October_18', 'Reading_Type_November_18',
       'Reading_Type_December_18', 'Reading_Type_January_19',
       'Reading_Type_February_19', 'Reading_Type_March_19',
       'Reading_Type_April_19', 'Reading_Type_May_19', 'Reading_Type_June_19',
       'CA', 'bill_date_May_18', 'bill_date_June_18', 'bill_date_July_18',
       'bill_date_August_18', 'bill_date_September_18', 'bill_date_October_18',
       'bill_date_November_18', 'bill_date_December_18',
       'bill_date_January_19', 'bill_date_February_19', 'bill_date_March_19',
       'bill_date_April_19', 'bill_date_May_19', 'bill_date_June_19', 'CA_cc',
       'current_charges_May_18', 'current_charges_June_18',
       'current_charges_July_18', 'current_charges_August_18',
       'current_charges_September_18', 'current_charges_October_18',
       'current_charges_November_18', 'current_charges_December_18',
       'current_charges_January_19', 'current_charges_February_19',
       'current_charges_March_19', 'current_charges_April_19',
       'current_charges_May_19', 'current_charges_June_19'],
      dtype='object')

In [53]:
df_out = df_out[['CA', 'Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19',
       'Consumption_June_19', 'bill_duration_May_18',
       'bill_duration_June_18', 'bill_duration_July_18',
       'bill_duration_August_18', 'bill_duration_September_18',
       'bill_duration_October_18', 'bill_duration_November_18',
       'bill_duration_December_18', 'bill_duration_January_19',
       'bill_duration_February_19', 'bill_duration_March_19',
       'bill_duration_April_19', 'bill_duration_May_19',
       'bill_duration_June_19', 'Reading_Type_May_18',
       'Reading_Type_June_18', 'Reading_Type_July_18',
       'Reading_Type_August_18', 'Reading_Type_September_18',
       'Reading_Type_October_18', 'Reading_Type_November_18',
       'Reading_Type_December_18', 'Reading_Type_January_19',
       'Reading_Type_February_19', 'Reading_Type_March_19',
       'Reading_Type_April_19', 'Reading_Type_May_19', 'Reading_Type_June_19',
       'bill_date_May_18', 'bill_date_June_18', 'bill_date_July_18',
       'bill_date_August_18', 'bill_date_September_18', 'bill_date_October_18',
       'bill_date_November_18', 'bill_date_December_18',
       'bill_date_January_19', 'bill_date_February_19', 'bill_date_March_19',
       'bill_date_April_19', 'bill_date_May_19', 'bill_date_June_19',
       'current_charges_May_18', 'current_charges_June_18',
       'current_charges_July_18', 'current_charges_August_18',
       'current_charges_September_18', 'current_charges_October_18',
       'current_charges_November_18', 'current_charges_December_18',
       'current_charges_January_19', 'current_charges_February_19',
       'current_charges_March_19', 'current_charges_April_19',
       'current_charges_May_19', 'current_charges_June_19']]

In [54]:
#df_out = df_out.drop(df_out.columns[[1]], axis = 1)

In [55]:
df_out.columns

Index(['CA', 'Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19',
       'Consumption_June_19', 'bill_duration_May_18', 'bill_duration_June_18',
       'bill_duration_July_18', 'bill_duration_August_18',
       'bill_duration_September_18', 'bill_duration_October_18',
       'bill_duration_November_18', 'bill_duration_December_18',
       'bill_duration_January_19', 'bill_duration_February_19',
       'bill_duration_March_19', 'bill_duration_April_19',
       'bill_duration_May_19', 'bill_duration_June_19', 'Reading_Type_May_18',
       'Reading_Type_June_18', 'Reading_Type_July_18',
       'Reading_Type_August_18', 'Reading_Type_September_18',
       'Reading_Type_October_18', 'Reading_Type_November_18',
       'Reading_Type_December_18', 'Reading_Type_January_19',
       'Reading_Type_February_19', 'Reading_Type_March_19',
       'Reading_Type_April_19', 'Reading_Type_May_19', 'Reading_Type_June_19',
       'bill_date_May_18', 'bill_date_June_18', 'bill_date_July_18',
       'bill_date_August_18', 'bill_date_September_18', 'bill_date_October_18',
       'bill_date_November_18', 'bill_date_December_18',
       'bill_date_January_19', 'bill_date_February_19', 'bill_date_March_19',
       'bill_date_April_19', 'bill_date_May_19', 'bill_date_June_19',
       'current_charges_May_18', 'current_charges_June_18',
       'current_charges_July_18', 'current_charges_August_18',
       'current_charges_September_18', 'current_charges_October_18',
       'current_charges_November_18', 'current_charges_December_18',
       'current_charges_January_19', 'current_charges_February_19',
       'current_charges_March_19', 'current_charges_April_19',
       'current_charges_May_19', 'current_charges_June_19'],
      dtype='object')

In [57]:
df_out.to_csv("C:\\MPS\\projects\\TNB\\billing\\data\\20190712_Extract_Bill_June_transformed_run16July.csv")

In [632]:
tr_raw = pd.read_csv("C:\\MPS\\projects\\TNB\\billing\\code\\transpose\\20190712_Extract_Bill_June.csv")

In [626]:
d = tr_raw.duplicated(subset=['CA'], keep='first')

In [633]:
# find duplicate CA
#df_out_duplicates =df_out[d]

duplicateRowsDF = tr_raw[tr_raw.duplicated(['CA'])]

In [634]:
duplicateRowsDF.head()

,CA,Bill Date,Billing Period,Consumption,Reading Type,Bill Duration,Unnamed: 6,Unnamed: 7
3,2.202448e+11,20190506.0,2018/06,.0000000 kWh,Bacaan Sebenar,28 days,NaN,NaN
5,2.202448e+11,20190506.0,2018/06,.0000000 kWh,Bacaan Sebenar,30 days,NaN,NaN
7,2.202448e+11,20190506.0,2018/06,.0000000 kWh,Bacaan Sebenar,31 days,NaN,NaN
10,2.202448e+11,20190506.0,2018/06,.0000000 kWh,Bacaan Sebenar,32 days,NaN,NaN
12,2.202448e+11,20190506.0,2018/06,.0000000 kWh,Bacaan Sebenar,62 days,NaN,NaN

In [635]:
duplicateRowsDF.to_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190712_Extract_Bill_June_duplicates.csv")

# Extract based on reading type

In [60]:
import pandas as pd
rd = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190712Extract_Bill_June.csv")

In [62]:
rd['Reading Type'].unique()

array(['Bacaan Sebenar ', 'Bacaan Anggaran ', 'Bacaan Akhir ',
       'Bacaan Khas ', nan], dtype=object)

# combining files

In [78]:
import pandas as pd
import numpy as np
import sys
f1 = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190710_June_SRC_Main_List_40457.csv")
f2 = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190705_Main_List_40457_SRC_June_Analysis_BCRM_BillingData.csv")

In [79]:
f2.columns

Index(['S.No', 'Zone', 'State', 'State Description', 'Business Area - Key',
       'Channel', 'Complaint ID', 'BP ID', 'BP Name', 'Contact Person ID',
       ...
       'MRU DESCRIPTION', 'PORTION', '% increase in May-19/18',
       '% increase in Jun-19/18', 'APRIL_TOTAL_KWH_BAND', 'MAY_TOTAL_KWH_BAND',
       'JUNE_TOTAL_KWH_BAND', 'APRIL_CC_BAND', 'MAY_CC_BAND', 'JUNE_CC_BAND'],
      dtype='object', length=102)

In [80]:
# for a in l:
#     print(a)

In [81]:
f2 = f2[['Complaint ID','MAR_TARIFTYP','MAR_READING_TYPE','MAR_CURRENT_CHARGES','MAR_BILLING_PERIOD','MAR_TOTAL_KWH','APR_TARIFTYP',
         'APR_READING_TYPE','APR_CURRENT_CHARGES','APR_BILLING_PERIOD','APR_TOTAL_KWH','MAY_TARIFTYP','MAY_READING_TYPE',
         'MAY_CURRENT_CHARGES','MAY_TOTAL_KWH','JUNE_READING_TYPE','JUNE_READING_TYPE_ENG','JUNE_CURRENT_CHARGES','JUNE_TOTAL_KWH',
         'MARCH_NO_OF_BILLS','APRIL_NO_OF_BILLS','MAY_NO_OF_BILLS','JUNE_NO_OF_BILLS','MARCH_BUCKET','APRIL_BUCKET','MAY_BUCKET',
         'JUNE_BUCKET','MAR-APR Jump','APR-MAY Jump','MAY-JUNE Jump','MARCH_BAND','APRIL_BAND','MAY_BAND','JUNE_BAND','APRIL_PERCENT_INCREASE',
         'MAY_PERCENT_INCREASE','JUNE_PERCENT_INCREASE','APRIL_CC_PERCENT_INCREASE','MAY_CC_PERCENT_INCREASE','JUNE_CC_PERCENT_INCREASE',
         'ACT/EST/FIN','April-18Data','May-18Data','June-18Data','% increase in April-19/18','MRU','MRU DESCRIPTION','PORTION','% increase in May-19/18',
         '% increase in Jun-19/18','APRIL_TOTAL_KWH_BAND','MAY_TOTAL_KWH_BAND','JUNE_TOTAL_KWH_BAND','APRIL_CC_BAND','MAY_CC_BAND','JUNE_CC_BAND']]

In [82]:
f1 = f1.dropna(how='all',axis=0)

In [83]:
f1.shape

(40457, 38)

In [84]:
f1.head()

,S.No,Zone,State,State Description,Business Area - Key,Channel,Complaint ID,BP ID,BP Name,Contact Person ID,...,Verified Root Cause Type,Verified Root Cause,Root Cause Measure,Refund/Arrears,Dt/Cr Amount,MB Reason,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,12845.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000682e+09,1.101405e+09,ZAINIAH BINTI MOHD,1203673349,...,A - Meter Faulty,Meter Faulty,BCRM Rangers,Arrears,RM0.00,NaN,NaN,NaN,NaN,NaN
1,12854.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000682e+09,1.101382e+09,CHEW KIM CHOON,1108060111,...,A - Meter Faulty,Meter Faulty,BCRM Rangers,Arrears,RM0.00,NaN,NaN,NaN,NaN,NaN
2,12904.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000688e+09,1.201738e+09,CHENG SENG KEONG,1201738277,...,A - Meter Faulty,Meter Faulty,BCRM Rangers,Arrears,RM78.00,NaN,NaN,NaN,NaN,NaN
3,13119.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000710e+09,1.101467e+09,HUSSAIN B ABDULLAH,#,...,A - Meter Faulty,Meter Faulty,BCRM Rangers,Arrears,RM117.05,NaN,NaN,NaN,NaN,NaN
4,13892.0,"SEL (SEL,PJY)",SEL,SELANGOR,6141.0,Kedai Tenaga,1.000711e+09,1.100726e+09,PEMBINAAN DUTA,1108615569,...,A - Meter Faulty,Meter Faulty,BCRM Rangers,Arrears,"RM3,332.19",NaN,NaN,NaN,NaN,NaN

In [85]:
f2.shape

(40458, 56)

In [86]:
f = pd.merge(f1, f2, on="Complaint ID", how ='left')

In [87]:
f.shape

(40457, 93)

In [88]:
f.head()

,S.No,Zone,State,State Description,Business Area - Key,Channel,Complaint ID,BP ID,BP Name,Contact Person ID,...,MRU DESCRIPTION,PORTION,% increase in May-19/18,% increase in Jun-19/18,APRIL_TOTAL_KWH_BAND,MAY_TOTAL_KWH_BAND,JUNE_TOTAL_KWH_BAND,APRIL_CC_BAND,MAY_CC_BAND,JUNE_CC_BAND
0,12845.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000682e+09,1.101405e+09,ZAINIAH BINTI MOHD,1203673349,...,B 448 TMN BUKIT KAPAR,SPOT11,-28.636364,-3.504929,<0,0-20,0-20,<0,50-100,<0
1,12854.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000682e+09,1.101382e+09,CHEW KIM CHOON,1108060111,...,B 1577/1 TMN INTAN JAYA KAPAR,SPOT07,1566.666667,47.530864,0-20,0-20,<0,20-50,20-50,<0
2,12904.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000688e+09,1.201738e+09,CHENG SENG KEONG,1201738277,...,B 2635/1 SETIA INDAH U13/11N,SPOT17,35.501355,14.466737,0-20,20-50,<0,0-20,20-50,<0
3,13119.0,"SEL (SEL,PJY)",SEL,SELANGOR,6140.0,Kedai Tenaga,1.000710e+09,1.101467e+09,HUSSAIN B ABDULLAH,#,...,C 1280 JLN SG BERTEK,SPOT28,34.302326,2.631579,<0,20-50,<0,<0,<0,0-20
4,13892.0,"SEL (SEL,PJY)",SEL,SELANGOR,6141.0,Kedai Tenaga,1.000711e+09,1.100726e+09,PEMBINAAN DUTA,1108615569,...,B 51 JLN ALAM SURIA 16/33,SPOT26,-46.148970,-48.537366,<0,NaN,<0,0-20,<0,<0

In [89]:
f.to_csv("C:\\MPS\\projects\\TNB\\billing\\data\\20190710_June_SRC_Main_List_40457_merged.csv")

# finding average and general calculations on ocnsumption

In [183]:
import pandas as pd
import numpy as np
import sys
df = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190712_May_SRC_No_Anomaly_Data_MAHIPAL.csv")

In [184]:
#df.head()

In [185]:
#df.columns

In [186]:
# Adding column for averae of last one year :
df['averag_18_19'] = df[['Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19']].mean(axis=1)

In [187]:
# Adding column for averae of last one year
df['averag_18'] = df[['Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18']].mean(axis=1)

In [188]:
# Adding column for averae of last one year
df['averag_19'] = df[['Consumption_November_18', 'Consumption_December_18','Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19']].mean(axis=1)

In [189]:
# find 1st and 2nd peak 

df['peak_1'] = df[['Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19']].max(axis=1)

In [190]:
#https://stackoverflow.com/questions/52464947/how-to-get-column-name-for-second-largest-row-value-in-pandas-dataframe
# Function to find the second largest number
def get_second_best(x):
    return sorted(x)[-2]

In [191]:
df['peak_2'] = df[['Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19']].apply(lambda row: get_second_best(row), axis=1)

In [192]:
# find name of month with max consumption

df['Peak_month'] = df[['Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19']].idxmax(axis=1)

In [193]:
df.head()

,Service Request ID,BP ID,BP Name,Contact Person ID,Contact Person Name,Contact Person Mobile Number,CA Number,Unit,Category,Sub-Category,...,Consumption_May_19,Date Meter Changed,Auto Billing,RootCause,averag_18_19,averag_18,averag_19,peak_1,peak_2,Peak_month
0,1000669746,1106412190,NORAZWANIZAN BINTI,#,Not assigned,#,210086599200,Device Operation (OPC),OPC Meter Accuracy Test,High Bill Normal,...,587.0,140518.0,No,NaN,356.461538,234.833333,439.666667,767.0,587.0,Consumption_January_19
1,1000657759,1103934799,ARJUN,1103934799,ARJUN,0126829770,220490355603,Smart Meter,Bilik Gerakan SM,High / Low Bill - First 2 Month,...,371.0,290519.0,Yes,NaN,307.076923,229.500000,374.000000,471.0,426.0,Consumption_April_19
2,1000666153,1104284878,LAU CHOON LOONG,1104284878,LAU CHOON LOONG,0123764986,220369124902,Smart Meter,Bilik Gerakan SM,High / Low Bill - First 2 Month,...,501.0,130716.0,Yes,NaN,459.000000,446.000000,465.000000,772.0,637.0,Consumption_June_18
3,1000666169,1100658580,CHE ROHAYAH BINTI,1203887644,EMY,0192364131,220038996600,Billing - OPC,Bill Format,Billing Adjustment (KKB/Caj Pelbagai),...,7.0,130716.0,No,NaN,155.538462,108.666667,227.166667,810.0,183.0,Consumption_April_19
4,1000630356,1101294035,TWELVE KIAPENG SDN,1203907552,VENICT,0122199144,220140533408,Device Operation (OPC),OPC Meter Accuracy Test,High Bill Normal,...,2891.0,220916.0,No,NaN,1218.076923,19.000000,2138.333333,2891.0,2578.0,Consumption_May_19

In [194]:
# put the condition based on peak in may_19 or before
df.loc[df['Peak_month'].str.contains('Consumption_May_19', na = False), 'peak_before'] = 'Peak May'

In [195]:
df['peak_before'] = df['peak_before'].fillna('Peak before')

In [196]:
# Percentage change between average 18 and average 19:
df['percentage_chane_in_avg_18TO19'] = (df.averag_19 - df.averag_18)/df.averag_18 * 100

In [197]:
df.columns

Index(['Service Request ID', 'BP ID', 'BP Name', 'Contact Person ID',
       'Contact Person Name', 'Contact Person Mobile Number', 'CA Number',
       'Unit', 'Category', 'Sub-Category', 'Creation Date', 'Created time',
       'Creation By', 'Last Changed By', 'Last Changed Date', 'SN Number',
       'SO Number', 'BPEM Case', 'Notes', 'SN Remarks 2July',
       'BPEM Notes 4July', 'Status 9July', 'Verified Root Cause',
       'No Anomaly Root Cause', 'Bill duration', 'Spot', 'BILLING_PERIOD',
       'Field18', 'TARIFTYP', 'CURRENT_CHARGES', 'KWH TOTAL', 'KWH_PER_DAY',
       'CHARGES_PER_DAY', 'PerDayKWHDiff', 'PerDayCCDiff', 'PrevCC',
       'Curr-Prev CC', 'KWHDiffBucket', 'CCDiffBucket', 'Previous Total Kwh',
       'Current Total Kwh', 'BandChange', 'PreviousKWH', 'Curr-Prev',
       'PrevBandChange', 'MoveIn', 'Bill Reissue', 'AR amount May',
       'New Current Charge', 'Remarks', 'AR/FR', 'FR Amount Buff', 'BILL_DATE',
       'BILLING_PERIOD2', 'BILL_DURATION', 'CURRENT_CHARGES MAY',
       'CURRENT_CHARGES_JUNE', 'KWH TOTAL MAY', 'TOTAL_KWH_JUNE',
       'MAY-JUN DIFF CC', 'MAY-JUN DIFF CC2', 'Refund/Arrears/Regularised',
       'MAY-JUN DIFF KWH', 'MAY-JUN DIFF KWH2', 'CURRENT_CHARGES APRIL',
       'KWH TOTAL APRIL', 'APR-MAY DIFF CC', 'APRIL-MAY DIFF KWH', 'Move-in',
       'Move-out', 'Consumption_May_18', 'Consumption_June_18',
       'Consumption_July_18', 'Consumption_August_18',
       'Consumption_September_18', 'Consumption_October_18',
       'Consumption_November_18', 'Consumption_December_18',
       'Consumption_January_19', 'Consumption_February_19',
       'Consumption_March_19', 'Consumption_April_19', 'Consumption_May_19',
       'Date Meter Changed', 'Auto Billing', 'RootCause', 'averag_18_19',
       'averag_18', 'averag_19', 'peak_1', 'peak_2', 'Peak_month',
       'peak_before', 'percentage_chane_in_avg_18TO19'],
      dtype='object')

In [198]:
df.to_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190712_May_SRC_No_Anomaly_Data.csv")

# Adding BPEM notes to existing file

In [639]:
import pandas as pd
import numpy as np
import sys
bpem = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190715_June_SRC_Main_List_40457.csv")

current_comp = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\BPEM_NOTES_COMP_June_15July2019.csv")
current_SR = pd.read_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\BPEM_NOTES_SR_June_15July2019.csv")

In [640]:
current_comp.columns

Index(['BPEM Case ID', 'Description', 'Complaint ID', 'CA ID', 'Premise',
       'Business Area', 'Creation Date', 'NotesAs15thJuly'],
      dtype='object')

In [641]:
current_comp = current_comp[['Complaint ID','NotesAs15thJuly']]

In [642]:
current_SR = current_SR[['Complaint ID','NotesAs15thJuly']]

In [643]:
final1 = pd.merge(bpem, current_comp, on="Complaint ID", how ='left')

In [644]:
final_bpem = pd.merge(final1, current_SR, on="Complaint ID", how ='left')

In [646]:
final_bpem.columns

Index(['State', 'State Description', 'Business Area - Key', 'Channel',
       'Complaint ID', 'CA Number', 'Unit', 'Category', 'Sub-Category',
       'Creation Date', 'SN Number', 'SO Number', 'BPEM Case', 'Notes',
       'SN Remarks 5July', 'BPEM Notes 9July', 'Status 15July',
       'Verified Root Cause Type', 'Verified Root Cause', 'Root Cause Measure',
       'Refund/Arrears', 'Dt/Cr Amount', 'MB Reason', 'PORTION',
       'MAY_TARIFTYP', 'BILL_DURATION_JUNE', 'ACT/EST/FIN', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'NotesAs15thJuly_x', 'NotesAs15thJuly_y'],
      dtype='object')

In [647]:
final_bpem = final_bpem[['State', 'State Description', 'Business Area - Key', 'Channel',
       'Complaint ID', 'CA Number', 'Unit', 'Category', 'Sub-Category',
       'Creation Date', 'SN Number', 'SO Number', 'BPEM Case', 'Notes', 'NotesAs15thJuly_x', 'NotesAs15thJuly_y',
       'SN Remarks 5July', 'BPEM Notes 9July', 'Status 15July',
       'Verified Root Cause Type', 'Verified Root Cause', 'Root Cause Measure',
       'Refund/Arrears', 'Dt/Cr Amount', 'MB Reason', 'PORTION',
       'MAY_TARIFTYP', 'BILL_DURATION_JUNE', 'ACT/EST/FIN', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32']]

In [648]:
final_bpem.to_csv(r"C:\Users\ijohan\Desktop\the-spoon\projects-code\power_sector\20190715_June_SRC_Main_List_40457_updatedNOTES.csv")